@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply dark;
    }

    .dark {
        --text: #eee7e7;
        --background: #090a0b;
        --primary: #bedead;
        --secondary: #b7b7a4;
        --accent: #adc178;
    }

    .light {
        --text: #181111;
        --background: #f4f5f6;
        --primary: #99e072;
        --secondary: #b1bfb0;
        --accent: #98aca3;
    }
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}