@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Rubik&family=Rubik+Doodle+Shadow&family=Rowdies&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #150909;
        --background: #ffffff;
        --primary: #7c1d1f;
        --secondary: #ededed;
        --accent: #f26969;
    }

    .dark {
        --text: #ffffff;
        --background: #000000;
        --primary: #e28485;
        --secondary: #131313;
        --accent: #950d0d;
    }
}

html, body, #root {
    background-color: #131313;
    width: 100%;
    height: 100%;
}